@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700;800&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    position: relative;
}

header {
    position: sticky;
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
    top: 0;
    left: 0;
    right: 0;
}

/* descedant selector */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

/* class selector */
.navTitle {
    color: chocolate;
    letter-spacing: 0.1cap;
    font-style: italic;
}

/* pseudo-element selector 1 */
.navTitle::after {
    content: ".";
    color: orangered;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

ul li a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

ul li a.active {
    color: dodgerblue;
}

/* dynamic pseudo-class selector 1 */
ul li a:hover {
    color: dodgerblue;
}

.login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
}

a.btn {
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 0.25rem 0.75rem;
    font-size: 0.9rem;
}

a.btn:hover {
    background-color: #555;
    color: white;
}

main {
    padding: 1rem 4rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cover {
    width: 75%;
    max-width: 90%;
    height: 400px;
    background-image: url("../img/cover.jpg");
    border-radius: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    text-align: center;
    padding: 1rem;
}

h1.tagline {
    margin: 1rem 0 2rem;
    color: #333;
    font-size: 2.8em;
    font-weight: 600;
    width: 75%;
    max-width: 90%;
    text-align: center;
}

section {
    width: 75%;
    max-width: 90%;
    margin: 1rem 0;
}

section .tag {
    color: #777;
    font-weight: 500;
    font-size: 1.1em;
}

article.post {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    width: 100%;
    margin: 1rem 0;
}

.imgPost {
    min-width: 120px;
    max-width: 120px;
    height: 120px;
    overflow: hidden;
}

p.textPost {
    font-size: 0.85em;
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0.5rem;
}

a.titlePost {
    color: #333;
}

a.titlePost:hover {
    color: skyblue;
}

/* dynamic pseudo-class selector 2 */
a.titlePost:active {
    color: orangered;
}

/* dynamic pseudo-class selector 3 */
a.titlePost:visited {
    color: blueviolet;
}

.video-yt iframe {
    margin-top: 1rem;
}

.profilPart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar {
    background-image: url("../img/avatar.jpg");
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    width: 320px;
    height: 320px;
}

.biodata {
    margin-top: 3rem;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

tr:nth-child(even) {
    background-color: #eee;
}

th,
td {
    padding: 0.25rem 1rem;
}

.gallery-container {
    width: 80%;
    margin: 2rem auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    /** Alternative Syntax **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;

    /** Alternative Syntax **/
    /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;

    /** Alternative Syntax **/
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;

    /** Alternative Syntax **/
    /* grid-column: 1 / span 4; */
    /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;

    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    min-width: 25%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    width: 100%;
}

.input-group label {
    font-size: 0.9em;
    color: #444;
    margin-bottom: 0.25rem;
}

/* pseudo-element 2 */
.input-group label::first-letter {
    text-transform: uppercase;
}

.input-group input {
    border-radius: 20px;
    border: 1px solid #bbb;
    padding: 0.5rem 1rem;
}

.input-group select {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 0.5rem 0.25rem;
}

button.btn {
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    margin: 0.5rem;
    font-size: 0.9em;
}

.input-group textarea {
    border-radius: 10px;
    border: 1px solid #bbb;
    padding: 0.5rem;
}
